* {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

.header {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 0 3px 4px #aeacaf;
}

.header__logo {
  width: 55%;
}

.search-city__input {
  border: 0;
  background-color: transparent
}

.search {
  padding-bottom: 65px;
  text-align: center;
  background-color: rgba(80%, 80%, 80%, 0.2);
}

#search-city {
  background-color: rgba(80%, 80%, 80%, 0.3);
  padding-top: 15px;
  padding-bottom: 15px;
}

.search-resto {
  padding-top: 30px;
}

.search-resto__descrip {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 45px;
  margin-top: 20px;
  color: rgb(21.8%, 21.8%, 21.8%);
}

.search-resto__btn {
  width: 60%;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding: 15px 30px;
  box-shadow: 0 5px 15px 0 #aeacaf;
  border-radius: 25px;
}

.function {
  margin: 30px;
  padding-top: 25px;
  padding-bottom: 50px;
}

.function__list {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  height: 300px;
  justify-content: space-between;
}

.function__btn {
  text-decoration: none;
  color: inherit;
  padding: 15px 50px 15px -1px;
  background-color: rgba(80%, 80%, 80%, 0.2);
  border-radius: 25px;
  box-shadow:0 5px 15px #d3d3d3;
}

.function__btn:hover {
  background-color: rgba(82.9%, 70.3%, 90.5%, 0.3);
}

.function__list--num {
  padding: 5px 10px;
  border-radius: 25px;
  color: white;
  background-color: #9356DC;
}

.function i {
  color: rgb(39.4%, 39.4%, 39.4%);
  padding: 30px;
}

.function i:hover {
  color: #9356DC;
}

.function__list--mobile {
  font-size: 27px;
}

.function__list--list {
  font-size: 21px;
}

.function__list--store {
  font-size: 19px;
}

.function__list--title {
  font-size: 18px;
  font-weight: 500;
}

.resto {
  padding: 50px 20px 50px 20px;
  background-color: rgba(80%, 80%, 80%, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.resto-card {
  position: relative;
}

.resto-card--new {
  padding: 7px 13px;
  position: absolute;
  right: 10px;
  top: 12px;
  background-color: #99E2D0;
  color: rgb(27.3%, 51.9%, 35.6%);
  font-size: 14px;
  font-weight: bolder;
  border-radius: 2px;
}

.resto-card {
  width: 95%;
  height: 255px;
  margin: auto;
  border-radius: 18px;
  background-color: white;
  box-shadow:0 0 10px #aeacaf;
  margin-bottom: 20px;
}

.resto-card__img {
  width: 100%;
  object-fit: cover;
  object-position: 0 -60px;
  position: relative;
  height: 190px;
  border-radius: 18px 18px 0 0;
}

.resto-card__descrip {
  display: flex;
  justify-content: space-between;
}

hgroup {
  padding-left: 15px;
}

.resto h2 {
  font-size: 18px;
  margin-top: 4px;
}

.resto h3 {
  font-size: 17px;
  font-weight: 300
}

.resto-card__heart {
  font-size: 25px;
  color: rgb(44.1%, 44.1%, 44.1%);
  padding-right: 25px;
  margin-top: 15px;
}

/*
.resto-card__heart :hover {
  color: linear-gradient(#ff79da, #9356dc);
} */

footer {
  background-color: rgb(21.8%, 21.8%, 21.8%);
  padding: 30px;
}

footer li {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  font-size: 18px;
  font-weight: 400;
  margin: 10px;
  margin-left: 0;
}

.footer__title {
  font-family: 'Shrikhand', cursive;
  color: white;
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 20px;
}
footer a, footer a:visited {
  color: white;
}

.footer-list--handshake {
  font-size: 12px;
}
