* {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  list-style: none;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

.header {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 0 3px 4px #aeacaf;
}

.header__logo {
  width: 55%;
}

.search-city__input {
  border: 0;
  background-color: transparent;
  text-align: center;
}

.search {
  padding-bottom: 65px;
  text-align: center;
  background-color: rgba(80%, 80%, 80%, 0.2);
}

#search-city {
  background-color: rgba(80%, 80%, 80%, 0.3);
  padding-top: 15px;
  padding-bottom: 15px;
}

.search-resto {
  padding-top: 30px;
}

.search-resto__title {
  width: 65%;
  margin: auto;
}

.search-resto__descrip {
  font-weight: 300;
  font-size: 16px;
  color: rgb(21.8%, 21.8%, 21.8%);
  width: 80%;
  margin: auto;
  margin-bottom: 45px;
  margin-top: 20px;
}

.search-resto--btn {
  width: 60%;
  margin: auto;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding: 15px 30px;
  box-shadow: 0 5px 15px 0 #aeacaf;
  border-radius: 25px;
  cursor: pointer;
}

.search-resto__btn {
  color: white;
}

.search-resto--btn:hover {
  filter: brightness(1.1);
  box-shadow: 0 5px 15px 0 #4e4e4e;
}

.function {
  margin: 20px;
  padding-top: 25px;
  padding-bottom: 50px;
}

.function__list {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  height: 300px;
  justify-content: space-between;
}

.function__btn {
  text-decoration: none;
  color: inherit;
  background-color: rgba(80%, 80%, 80%, 0.2);
  border-radius: 25px;
  box-shadow:0 5px 15px #d3d3d3;
}

.function__btn {
  display: flex;
}

.function__btn--title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.function__btn:hover {
  background-color: rgba(82.9%, 70.3%, 90.5%, 0.3);
}

.function__btn:hover > .function__btn--icon {
  color: #9356DC;
}

.function__list--num {
  padding: 4px 8px;
  align-self: center;
  font-size: 12px;
  border-radius: 25px;
  color: white;
  background-color: #9356DC;
}

.function i {
  color: rgb(39.4%, 39.4%, 39.4%);
  padding: 30px 20px;
}

.function__list--mobile {
  font-size: 23px;
}

.function__list--list {
  font-size: 18px;
}

.function__list--store {
  font-size: 16px;
}

.function__list--title {
  font-size: 15px;
  font-weight: 400;
  align-self: center;
}

.resto {
  padding: 50px 20px 50px 20px;
  background-color: rgba(80%, 80%, 80%, 0.2);
  justify-content: space-between;
}

.resto__resto {
  display: flex;
  flex-wrap: wrap;
}

.resto__title {
  padding-bottom: 30px;
  padding-left: 10px;
}

.resto-card {
  position: relative;
}

.resto-card--new {
  padding: 7px 13px;
  position: absolute;
  right: 10px;
  top: 12px;
  background-color: #99E2D0;
  color: rgb(27.3%, 51.9%, 35.6%);
  font-size: 14px;
  font-weight: bolder;
  border-radius: 2px;
}

.resto-card {
  width: 95%;
  height: 255px;
  margin: auto;
  border-radius: 18px;
  background-color: white;
  box-shadow:0 0 10px #aeacaf;
  margin-bottom: 20px;
}

.resto-card__img {
  width: 100%;
  object-fit: cover;
  position: relative;
  height: 190px;
  border-radius: 18px 18px 0 0;
}

.resto-card__descrip {
  display: flex;
  justify-content: space-between;
}

hgroup {
  padding-left: 15px;
}

.resto h2 {
  font-size: 18px;
  margin-top: 4px;
}

.resto h3 {
  font-size: 17px;
  font-weight: 300
}

.resto-card__like {
  margin-top: 15px;
}

.resto-card__heart {
  font-size: 25px;
  color: rgb(44.1%, 44.1%, 44.1%);
  padding-right:15px;
  margin-top: 0;
  position: absolute;
}

.resto-card__hoverheart {
  color: transparent;
  font-size: 25px;
  padding-right: 25px;
  margin: 0px;
  position: relative;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.resto-card__hoverheart:hover {
  font-size: 25px;
  color: #ff79da;
  display: block;
  background: -webkit-linear-gradient(75deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background-color: rgb(21.8%, 21.8%, 21.8%);
  padding: 30px;
}

footer li {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  font-size: 18px;
  font-weight: 400;
  margin: 10px;
  margin-left: 0;
}

.footer__title {
  font-family: 'Shrikhand', cursive;
  color: white;
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 20px;
}
footer a, footer a:visited {
  color: white;
}

.footer-list--handshake {
  font-size: 12px;
}

.resto-pic__pic {
  width: 100%;
  height: 240px;
  position: relative;
  object-fit: cover;
  z-index: -1;
}

.header-menu {
  display: flex;
  padding-top: 30px;
  padding-bottom: 20px;
}

.header-menu__backhome {
  position: absolute;
  left: 20px;
  top: 37px;
  font-size: 21px;
}

.header-menu__backlink:visited {
  color: inherit;
}

.header__logo {
  margin: auto;
}

.menu {
  padding: 40px 20px;
  margin-top: -50px;
  border-radius: 55px 55px 0 0;
  background-color: rgb(95.2%, 95.2%, 95.2%);
}

.menu-resto {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.menu-resto__name {
  font-family: 'Shrikhand', cursive;
  font-size: 29px;
  font-weight: lighter;
  margin-top: -8px;
}

.menu-resto__heart {
  font-size: 25px;
  color: rgb(44.1%, 44.1%, 44.1%);
  padding-right:15px;
  margin-top: 0;
  position: absolute;
}

.menu-resto__hoverheart {
  color: transparent;
  font-size: 25px;
  margin: 0px;
  position: relative;
  cursor: pointer;
  transition: 300ms ease-in-out;
}


.menu-resto__hoverheart:hover.menu-resto__heart {
  opacity: 0;
}

.menu-resto__hoverheart:hover {
  font-size: 25px;
  color: #ff79da;
  display: block;
  background: -webkit-linear-gradient(75deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.menu-content__title {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 40px;
}

.menu-content__border {
  width: 50px;
  height: 4px;
  background-color: #99E2D0;
  margin-bottom: 15px;
  margin-left: 10px;
}

.menu-content__list{
  height: 70px;
  padding-left: 15px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow:0 5px 15px #d3d3d3;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 300;
  overflow: hidden;
  animation: fadein 1800ms both;
  cursor: pointer;
}

@keyframes fadein {
  0%{
    opacity: 0;
    transform: translate(0,40px);
  }
  50%{
    opacity: 0;
    transform: translate(0, 20px);
  }
  100%{
    opacity: 1;
    transform: translate(0, 0);
  }
}

.menu-content--legend {
  width: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.menu-content--legend p {
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-content--legend h3 {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-content__list--price {
  font-weight: 400;
  position: relative;
  display: inline;
  float: right;
  justify-content: flex-end;
  padding-top: 30px;
  margin-right: 5px;
  font-size: 16px;
}

.menu-content__list:hover .menu-content__checkcircle {
  transform: scaleX(1);
  opacity: 1;
  width: 55px;
  animation: widthGrow 500ms 100ms ease-in-out forwards;
}

.menu-content__checkcircle {
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  height: 70px;
  width: 0;
  position: relative;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 400ms ease 150ms;
  overflow: hidden;
}

.menu-content__list:hover > .menu-content__checkcircle > .check {
  transform: rotate(0deg);
}

.check {
  color: white;
  width: 25px;
  height: 25px;
  font-size: 20px;
  display: flex;
  justify-items: center;
  align-items: center;
  transform: rotate(360deg);
  transition: transform 500ms ease-in-out;
  overflow: hidden;
}

.menu-order {
  width: 40%;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  font-size: 16px;
  text-decoration: none;
  padding: 15px 20px;
  box-shadow: 0 5px 15px 0 #aeacaf;
  border-radius: 25px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.menu-order__btn {
  color: white;
}

.menu-order:hover {
  filter: brightness(1.1);
  box-shadow: 0 5px 15px 0 #4e4e4e;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .search-resto--btn {
    width: 30%;
  }

  .function__title {
  text-align: center;
}

.function i {
  padding: 30px 50px;
}

  .function__list {
    width: 55%;
    margin: auto;
  }

  .function__list--title{
    font-size: 17px;
  }

  .resto__title {
    text-align: center;
  }

  .resto-card {
    width: 45%;
  }

  .menu-content__list--descrip {
    width: auto;
  }
}

/* desktop */
@media only screen and (min-width:1024px) {
  .search-resto--btn {
    width: 20%;
  }
  
  .function__title {
    text-align: center;
  }

  .function__list {
    flex-direction: row;
    height: auto;
    width: 95%;
    margin: auto;
  }

  .function__btn {
    width: 30%;
  }
.function__list i {
  padding: 30px 30px;
}

.function__list--title {
  padding-right: 40px;
}

  .resto__title {
    padding-left: 25px;
  }

  .resto-card {
    width: 23%;
  }

  .header__logo {
    width: 35%;
    padding-top: 10px;
  }

  .header-menu__backhome {
    padding: 30px 20px;
    font-size: 35px;
  }

  .resto-pic {
    height: 400px;
  }

  .resto-pic__pic {
    height: 100%;
  }

  .menu-resto {
    width: 32%;
    margin: auto;
    justify-content:space-between;
  }

  .menu-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-content {
    width: 30%;
  }

  .menu-order {
    width: 28%;
    cursor: pointer;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-bottom: 40px;
  }
}

/*
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -80px 0 0 -80px;
  border: 16px solid #f2f2f2;
  border-radius: 50%;
  border-top: 16px solid #ff79da;
  border-bottom: 16px solid #9356DC;
  animation: 1.5s spin linear 1 forwards;
  z-index: 1;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
  from{opacity: 1;}
  to{opacity: 0;}
} */

.animate-page {
  position: relative;
  animation-name: animatepage;
  animation-duration: 2.5s;
}

@keyframes animatepage {
  from{opacity: 0}
  60%{opacity: 0.5;}
  to{opacity: 1}
}

@keyframes loading-spinner {
  0% {
    top: 140px;
    left: 140px;
    width: 0;
    height: 0;
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    top: 56px;
    left: 56px;
    width: 167px;
    height: 167px;
    opacity: 0;
    transform: rotate(360deg);
  }
}
.loading-spinner div {
  position: absolute;
  border-top: 5px solid;
  opacity: 1;
  border-radius: 50%;
  animation: loading-spinner 1.5s linear 2 forwards;
}
.loading-spinner div:nth-child(1) {
  border-color: #9356dc;
  animation-delay: 0s;
}
.loading-spinner div:nth-child(2) {
  border-color: #ff79da;
  animation-delay: -1s;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin:  -200px 0 0 -140px;;
  width: 321px;
  height: 321px;
  display: inline-block;
  z-index: -1;
  overflow: hidden;
}
.loading-spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: rotate(360deg);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loading-spinner div { box-sizing: content-box; }